@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Poppins', sans-serif;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    width: 100%;
    font-size: 1em;
    background-color: rgb(15, 15, 15);
    position: absolute;
}

header::before {
    content: '';
    position: absolute;
    bottom: -10vh;
    height: 10vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(15, 15, 15) 19%, rgba(36,36,36,0.6294163845314964) 51%, rgba(0,0,0,0));
}

header .title {
    color: #fff;
}

.container {
    position: relative;
}

.main {
    height: 100vh;
    width: 100%;
    background: url('./img/forest.jpg');
    background-size: cover;
    background-position: center;
}

.main button {
    width: 60vw;
    height: 50px;
    position: relative;
    display: flex;
    margin: 0 auto;
    bottom: -83vh;
    background:rgb(15, 15, 15, 0);
    border: 4px solid #fff;
    border-radius: 80px;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Macondo', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
